.header {
	padding-top: 23px;
	padding-bottom: 23px;
	-webkit-align-items: center;
	        align-items: center;
	@media(min-width: 1400px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
}
.header__phone {
	color: $pj_gray;
	font-size: 17px;
	font-weight: 300;
	@media(min-width: 768px) {
		margin-left: 25px;
	}
	@media(min-width: 1400px) {
		margin-left: 30px;
	}
}
.header__logo {
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
}
.header__logo__img {
	width: 60px;
	height: 60px;
	margin-right: 15px;
}
.header__logo__title {
	width: 192px;
	height: 31px;
}
.header__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.header__list__item {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	margin-right: 18px;
	@media(min-width: 768px) {
		margin-right: 25px;
	}
	@media(min-width: 1400px) {
		margin-right: 30px;
	}
	
}
.header__list__item___link {
	text-decoration: none;
	color: white;
	&:hover {
		text-decoration: none;
		color: white;
	}
	img {
		z-index: 1;
		@include transit(.2s);
		&:hover {
			@include scaled();
		}
	}
}

.header__list__item__cart {
	position: relative;
	width: 35px;
	height: 28px;
}
.header__list__item__cart--count {
	@include transit(.2s);
	z-index: 2;
	position: absolute;
	right: 0px;
	top: 0px;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	width: 14px;
	height: 14px;
	color: white;
	font-size: 10px;
	font-weight: 700;
	background-color: #9e8b6b;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}

